// Define variables for your color scheme

// For example:
$red: #ed1250;
$blue: #4f81c7;
$yellow: #fff68e;
$light-blue: #b1deff;
$orange: #E67E22;
$green: #1fe3cf;
$gray: #8E8989;
$light-gray: #F4F4F4;
