<p>Hi <%= @user.first_name %>,</p>

<p>We're very happy to welcome you at <%= @user.company.name %></p>
<p>Here is the link to start your onboarding:</p>
<p> <%= link_to "Start your onboarding", user_welcome_url(@user)  %></p>
<p>Your Log in:</p>
<p>Email: <%= @user.first_name %>@example.com</p>
<p>Password: password</p>

<p>Enjoy!</p>
