.buddy-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 12px;
  width: 38%;
  padding: 40px;
  margin-top: 60px;
    .avatar-buddy {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
    // .avatar-extra-large {
    //   margin-bottom: 10px;
    // }
}

.buddy-infos {
  text-align: center;

    p {
      font-size: 16px;
    }

    h4 {
      font-size: 22px;
      font-weight: bold;
      color: $green;
    }
  }

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .btn-blue {
    padding: 10px 18px;
    border-radius: 18px;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
  }

  .btn-blue:hover {
    opacity: 0.8;
    border: none;
    color: white;
  }
}
