// Specific CSS for your home-page

.content {
  margin-top: 60px;
}


.banner {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  background-color: $blue;
  padding-top: 20px;
  height: 100vh;
}

.banner-content h1 {
  font-size: 52px;
  margin-bottom: 15px;
}
.banner-img {

}

.banner-img img {
  width: 530px;
}
