// Specific CSS for your home-page

.content {
  margin-top: 60px;
}


.banner {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  background-color: $blue;
  padding-top: 20px;
  height: 100vh;
  margin-top: 30px;
}

.banner-content h1 {
  font-size: 52px;
  margin-bottom: 15px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .btn-green {
    width: 168px;
  }
  span {
    color: $yellow;
  }
}


.banner-img img {
  width: 600px;
}


.features-home {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  background-color: $blue;
  // height: 100vh;
}

.features-home-2 {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  background-color: $blue;
  // height: 100vh;
}

.feature-content {
  width: 600px;
}

.feature-content h4 {
  font-size: 28px;
  margin-bottom: 15px;
  color: $yellow;
}

.feature-content p {
  color: $light-gray;
  text-align: justify;
}

.feature-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .btn-green {
    width: 168px;
  }
  span {
    color: $green;
    font-size: 22px;
  }
}
