// Import page-specific CSS files here.
@import "home";

#form-employee {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 30px 70px;

    label {
      color: $blue;
    }

    .form-control {
      border-radius: 6px;
    }

    h5 {
      color: $green;
      text-align: left;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    h6 {
      color: $blue;
      padding: 0px;
      margin: 0px;
      font-weight: 600;
      margin-top: 25px;
    }

    .btn-green {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 25px 30px;
    }
}


#form-employee-edit {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 30px 70px;

    label {
      color: $blue;
      padding: 0px;
      margin: 0px;
      font-weight: 600;
      margin-top: 25px;
      margin-bottom: 10px;
    }

    .form-control {
      border-radius: 6px;
    }

    h5 {
      color: $green;
      text-align: left;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    h6 {
      color: $blue;
      padding: 0px;
      margin: 0px;
      font-weight: 600;
      margin-top: 25px;
    }

    .btn-green {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 25px 30px;
    margin-top: 25px;
    }
}

.form-control-file{
  font-family: Muli;
}


.title-applications {
  margin-top: 24px;
}

.logo-company-small {
  width:70px;
  max-height: 60px;
  object-fit: contain;
}

.ok-candidature .candidature-actions p {
  display: flex;
  align-items: center;
}

.ok-candidature .candidature-actions .fas {
  margin: 0 12px;
}

.fa-spinner {
  color: orange;
  font-size: 24px;
}

.ok-candidature .candidature-actions .fa-times-circle {
  color: #FD080C;
  font-size: 24px;
}

.long-text {
  height: 400px;
}

