.all-employees-team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

#margin-h2 {
  margin-bottom: 30px;
}

.employee-team-card {
  background-color: white;
  border-radius: 12px;
  padding: 30px 18px;
    .avatar-buddy {
      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }

    .avatar-extra-large {
      margin-bottom: 10px;
    }
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .btn-blue {
    padding: 10px 18px;
    border-radius: 18px;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
  }
}

.employee-team-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  margin-bottom: 15px;
  .employee-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    p {
      margin: 0 0 8px 0;
      padding: 0;
      text-align: left;
    }
  }
  .employee-info h4 {
    color: $green;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
  }
  .employee-info p {
    font-size: 14px;
  }
  .avatar-buddy {
    margin-left: 0;
    margin-right: 12px;
  }
}

.employee-team-infos {
  p {
    margin-bottom: 2px;
    text-align: left;
    font-size: 14px;
  }
}

