.welcome-infos {
  width: 600px;
  text-align: center;
  padding: 24px 24px;
  margin: 0 auto;
  width: 80%;
}

.welcome-infos .image-lg {
  height: 200px;
  object-fit: contain;
  margin-bottom: 16px;
}
