<!-- <div class="w3-light-grey">
  <div class="w3-green progessionbar" style="height:24px;width:<%= current_user.progress %>%;max-width: 100%"></div>
</div> -->

<div class="progress">

    <div class="progress-bar bg-success" role="progressbar" style="width: <%= current_user.progress %>%" aria-valuenow="<%= current_user.progress %>" aria-valuemin="0" aria-valuemax="100"></div>
</div>

