
    <div class="sidebar">
        <div class="onboarding-step">
            <ul>
                <a href=" <%= company_path(current_user.company) %> ">
                    <p>
                        <li> <i class="fab fa-slack-hash"></i>Discover the company</li>
                    </p>
                </a>
                <a href=" <%= edit_user_path(current_user.id) %> ">
                    <p>
                        <li><i class="fab fa-slack-hash"></i>Personal informations</li>
                    </p>
                </a>
                <a href="<%= users_path %>">
                    <p>
                        <li><i class="fas fa-lock"></i>Meet your colleagues</li>
                    </p>
                </a>
                <a href="<%= user_documents_path(current_user) %>">
                    <p>
                        <li><i class="fas fa-lock"></i>Documents</li>
                    </p>
                </a>
            </ul>
        </div>
  </div>
