<div class="content">

  <div class="banner">

    <div class="banner-content">
     <h1>  <span>Onboarding</span> tool for<br>remote employees </h1>
     <p>The future of work is here, and we're here to support it</p>
    </div>

    <div class="banner-img">
      <%= image_tag "banner.png" %>
    </div>

  </div>

</div>


<!-- <div class="content"> -->

  <div class="features-home">

    <div class="feature-content">
     <h4>  Remote is the future </h4>
     <p><span>Onboarding</span> can be difficult, but it’s also a crucial part of the employee lifecycle: setting new hires up for productivity and retention which in turn helps maximize ROI and minimize costly turnover. <br> With <span>50%</span> of the workforce estimated to be remote by 2020 (according to a recent Gallup poll), quality onboarding processes are even more important for those new hires who aren’t able to train in person or build social connections through the convenience of shared (office) space.</p>
    </div>

    <div class="banner-img">
      <%= image_tag "world.png" %>
    </div>

  </div>

</div>


  <div class="features-home-2">
    <div class="banner-img">
      <%= image_tag "care.png" %>
    </div>

    <div class="feature-content">
     <h4>  Take care from day one </h4>
     <p>Remote employees are a wonderful mixed bag, the more care you put into nurturing them and thoroughly onboarding them, the more tight-knit they will be with your company and the more <span>motivated</span> they will remain for the names in their Slack channel. <br> Since not everyone can be graced with a friend in the company who helps to keep them motivated, here are a few of the top onboarding tips to help you <span>succeed</span> with your remote hire.</p>
    </div>


  </div>

</div>






<!--       <div class="features-home">
      <div class="feature-info">
        <h4>Remote is the future</h4>
        <p>Onboarding can be difficult, but it’s also a crucial part of the employee lifecycle: setting new hires up for productivity and retention which in turn helps maximize ROI and minimize costly turnover. With 50% of the workforce estimated to be remote by 2020 (according to a recent Gallup poll), quality onboarding processes are even more important for those new hires who aren’t able to train in person or build social connections through the convenience of shared (office) space.</p>
        <%= image_tag "banner.png" %>
      </div>
    </div> -->
