<div class="content">

  <div class="banner">

    <div class="banner-content">
     <h1>  <span>Onboarding</span> tool for<br>remote employees </h1>
     <p>The future of work is here, and we're here to support it</p>
    </div>

    <div class="banner-img">
      <%= image_tag "banner.png" %>
    </div>

  </div>

</div>


