<div class="welcome">
  <h1> Hi <%= current_user.first_name %>, Welcome at <%= current_user.company.name %>!</h1>
  <p>All is ready for your onboarding, just follow the steps on the left</p>
    <div class="welcome-infos">
      <%= image_tag "welcome.svg", class: "image-lg" %>
    </div>
  <%= link_to "Start your onboarding", company_path(current_user.company), class: 'btn-green-lg' %>
</div>
