<div class="container">
  <div class="features">
<a href="#">
    <div class="feature-card">
        <div class="card-mission-img">
            <img src="https://miro.medium.com/max/1400/1*XX2X4OtFiQTdYV3OtIlAIg.png" alt="" class="logo-sm">
        </div>
        <div class="feature-card-title">
          <p> <strong>Company details </strong></p>
        </div>
        <div class="feature-card-info">
          <p> Your company information will be used on invoices and tax documentation. </p>
        </div>
    </div>
</a>
<a href="#">
    <div class="feature-card">
        <div class="card-mission-img">
          <img src="https://miro.medium.com/max/1400/1*XX2X4OtFiQTdYV3OtIlAIg.png" alt="" class="logo-sm">
        </div>
        <div class="feature-card-title">
          <p> <strong>Add a new employee</strong></p>
        </div>
        <div class="feature-card-info">
          <p> Your company information will be used on invoices and tax documentation. </p>
        </div>
    </div>
</a>
<a href="#">
    <div class="feature-card">
        <div class="card-mission-img">
          <img src="https://miro.medium.com/max/1400/1*XX2X4OtFiQTdYV3OtIlAIg.png" alt="" class="logo-sm">
        </div>
        <div class="feature-card-title">
          <p> <strong>Manage your onboarding</strong></p>
        </div>
        <div class="feature-card-info">
          <p> Your company information will be used on invoices and tax documentation. </p>
        </div>
    </div>
</a>
</div>
</div>
