.btn-green {
  padding: 20px 24px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #1fe3cf;
  color: #263858;
  margin-top: 50px;
}


.btn-blue {
  margin-top : 20px;
  padding: 16px 24px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #b1deff;
  font-color: white;
  text-align : center;
}

.btn-contact {
  margin-top : 0px;
  margin-left:14px;
  margin-bottom: 10px;
  padding: 16px 24px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: $red;
  color: white;
  text-align : center;
}

 input {
    color:white;
  }
