.page {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  height: 100vh;
}

#mission {
  color: $red;
}

#mission span {
  color: $red;
  font-size: 35px;
}

#h1-company {
  font-weight: 600;
  margin-bottom: 30px;
}

.banner-company {
  height: 400px;
  margin-bottom: 0px;
  border-radius: 5px;
  background-size: cover;
}

.banner-company img {
  object-fit: cover;
}

.content-page {
  margin: 50px 50px 50px 280px;
}

.description {
  margin-top: 48px;
  overflow: hidden;
  display: flex;
  align-items: center;

  p {
    line-height: 1.8;
    text-align: left;
    margin-bottom: 30px;
  }
}

.description img {
  align-items: center;
  height: 100%;
  width: 65%;
  object-fit: cover;
  border-radius: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


.description h2 {
  font-weight: bold;
  margin-top: 0px;
}

.description p {
  font-size: 15px;
  opacity: 0.7;
}

.description .description-infos {
  padding: 16px;
  padding-left: 0;
}

.values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.card-value {
  overflow: hidden;
  height: 120px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 16px;
  margin-left: 5px;
}

.card-value img {
  height: 100%;
  width: 90px;
  object-fit: fill;
}

.card-value h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-value p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-value .card-value-infos {
  padding: 0 16px;
}

.social-medias {
  margin-top: 24px;
}

.footer-links {
  display: flex;
  align-items: center;
  display: block;
  text-align: center;
}
.footer-links a {
  color: $blue;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.7;
}
