// .pdf-files {
//   display: flex;
//   justify-content: space-around;
//   // align-items: center;
//   width: auto;
//   height: 400px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   border : solid 1px #b1deff;
//   border-radius: 5px;
//   text-align: center;
//   padding: 24px 24px;
//   margin-bottom: 24px;
//   margin-top: 12px;
//   text-size: smaller;
// }

// .contract-pdf{
//   display: flex;
//   flex-direction: column;
//   // text-align: left;
//   justify-content: space-around;
//   // align-items: center;
// }
// .internal-rules-pdf {
//   display: flex;
//   flex-direction: column;
//   // text-align: left;
//   justify-content: space-around;
//   // align-items: center;
// }

// .upload-command{
//   padding: 24px 24px;
//   margin-bottom: 24px;
//   margin-top: 12px;
// }

// .pdf-files img {
//   height: 100px;

// }

#container-document {
  margin-left: auto;
  margin-right: auto;
}


.card-document {
  padding: 24px 24px;
  margin-bottom: 24px;
  margin-top: 12px;
  border : solid 1px #b1deff;
  border-radius: 5px;
  // justify-content: space-around;
  display: flex;
  // overflow: hidden;
  height: 150px;
  // align-items: center;
  justify-content: left;
  padding-left: 140px;
}

.card-document a {
  width: 120px;
  height: 40px;
  object-fit: cover;
}

.card-document .choose-file {
  font-size: 16px;
}

.card-document .btn-blue {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-document .choose {
  padding: 0 16px;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:400px;
  height:200px;
  background-color: white;
}


