.features {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.feature-card {
  width: 290px;
  height: 240px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  text-align: center;
  padding: 24px 24px;

  h4 {
    color: $blue;
    font-weight: bold;
    font-size: 18px;
  }

  p {
    font-size: 15px;
  }
}

.logo-sm {
  height: 70px;
  object-fit: contain;
  display: inline;
  margin-bottom: 16px;
}


