#map {
  border-radius: 8px;
  margin-right: 15px;
}

.mapboxgl-popup {
  min-width: 120px;
  max-width: 200px;
  border-radius: 12px;
}

.mapboxgl-popup-content {
  text-align: center;
    p {
      font-size: 12px;
    }

    h4 {
      font-size: 14px;
      font-weight: bold;
      color: $blue
    }

    h5 {
      font-size: 12px;
      font-weight: bold;
      color: $green;
    }
}

#search-map {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
}

.search-form-control {
  position: relative;
   z-index: 1;
}

.search-form-control .btn-green-search {
  position: absolute;
  top: 7px;
  bottom: 8px;
  right: 8px;
  margin-top: 0px;
    p {
    text-align: center;
    margin-bottom: 0px;
    vertical-align: middle;
  }
  // color: white;
  // padding: 8px 24px;
  // border-radius: 50px;
  // background: blue;
  // transition: background 0.3s ease;
}

.search-form-control .btn-flat:hover {
  opacity: 0.7;
}


.search-form-control .form-control {
  height: 3.5rem;
  border-radius: 8px;

}

.search-form-control .form-control:focus {
  border: 1px solid blue;
  outline: none !important;
}


.card-map{
  width: 250px; /* ⬅ Size - Small (width: 200px), Medium (width: 225px), Large (width: 250px) */
  overflow: hidden;
  background-color: #FFFFFF;

  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  text-align: center;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

  .card-map:first-of-type{
    margin-right: 25px;
  }

  .card-map:hover{
    margin-top: -10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }


.no-margin {
  margin: 0 0 0 10px;
  text-align: center;
}

.map-plus-infos {
  display: flex;
}

.general-infos {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.info-number {

  h2 {
    font-size: 35px;
    font-weight: bold;
    color: $red;
    margin: 0;
  }
h3 {
  font-size: 25px;
}
}





