// .sidebar {
//   padding: 80px 16px 16px 16px;
//   width: 2000px;
//   background: $blue;
//   font-weight: bold;
//   color: #F5F5F5;
//   height: 100vh;
//   margin-right: 50px;
//   position: sticky;
//   -webkit-position: sticky;
//   display: flex;
// }

.sidebar {
 height: 100%;
 width: 230px;
 position: absolute;
 z-index: 1;
 top: 0;
 left: 0;
 background-color: $blue;
 color: #F5F5F5;
 font-weight: bold;
 overflow-x: hidden;
 padding-top: 20px;
}

.sidebar li {
  padding-left: 10px;
}



.sidebar i {
padding: 16px 10px;
}


.sidebar a {
  color: #F5F5F5;
  font-size: 16px;
  text-decoration: none;
}


.sidebar a:hover {
  opacity: 0.5;
}



