trix-toolbar .trix-button-group {
    display: -webkit-box;
    display: flex;
    margin-bottom: 8px;
    // border: 1px solid #bbb;
    // border-top-color: #ccc;
    // border-bottom-color: #888;
    border-radius: 3px;
    border: solid 1px $green;
    }

.trix-content {
    border: 1px solid $green;
    border-radius: 8px;
}

.trix-content li, div, ol, ul {
  color: #495057;
}

.trix-input--dialog{
  color: #495057;
  color: black;
}
