.btn-green {
  padding: 14px 24px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #1fe3cf;
  color: #263858;
}
