// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/onboardings";
@import "pages/welcome";

body {
  background: #f2f3f6;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  font-size: 40px;
  line-height:52px;
  font-weight:700;
  text-align:center;
  color: $blue;
}

h2 {
  font-size:24px;
  line-height:52px;
  font-weight:800;
  text-align:center;
  color: $blue;
}


h3 {
  font-size:20px;
  line-height:32px;
  font-weight:800;
  text-align:center;
  color: $blue;
}

p {
  font-size: 17px;
  font-weight:400;
  text-align:center;
}

a {
  text-decoration: none;
  font-size: 17px;;
}

p, a, span{
  color: gray;
}

.main-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

.navbar-exist {
  height: calc(100vh - 90px);
  width: 100vw;
  padding: 40px 40px;
}

.sidebar-exist {
  height: 100vh;
  width: calc(100vw - 230px);
  padding: 24px 140px;
}

.container-show {
  width: 700px;
  margin: 40px auto;
}

.card-white {
  background-color: white;
  padding: 30px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  h5 {
    color: $pink;
    font-weight: bold;
    text-align: left;
  }

  h2 {
    margin-bottom:0;
  }

  p {
    font-size: 15px;
  }

.avatar-extra-large-show {
    width: 110px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

}

#ul-left p {
  text-align: left;
}

.teams {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0px;
  margin-top: 0px;
}

.team-name {
  flex: 0 0 30%;
  background-color: #b1deff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
  opacity: 0.8
}

.team-name:hover {
  opacity: 1;
  cursor: pointer;
}

.active {
  background-color: $green;
  color: white;
  opacity: 1;

}

#form-employee label {
  margin: 0;
}


